.booking{
padding:50px;
text-align:center;
}

form{
width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:12px;
font-size:16px;
}

button{
padding:12px;
background:#0d6efd;
color:white;
border:none;
}
